.shijing-lineview {
	position: relative;
}

.shijing-lineview-content {
	position: relative;
	line-height: 1.15;
}

.shijing-selection {
	position: absolute;
	top: 0;
	left: 0;
}

.shijing-paragraph {
	margin-top: 1em;
}

.shijing-paragraph:first-child {
	margin-top: 0px;
}

.shijing-workarea *::selection {
	background: transparent;
}
