.shijing-lineview {
	line-height: 1.15;
}

.shijing-paragraph {
	margin-top: 1em;
}

.shijing-paragraph:first-child {
	margin-top: 0px;
}

.shijing-workarea *::selection {
	background: transparent;
}
